# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Use in docker-compose.yml
DB_USER="backend"
DB_PASSWORD="backend@123"
DB_NAME="backend"
DB_HOST="postgres"
DB_PORT="5432"

DATABASE_URL="postgresql://backend:backend@123@postgres:5432/backend"


# seed 
NAME_STRING="Admin"
EMAIL_STRING="Admin5858@exemple.com"
ADMIN_PASSWORD="@Admin5858"

# Auth Secret mesmo valor que está no .env do frontend
AUTH_SECRET = "bMKvtZjNJ7SrfsJe+s/sXScyFh2nD5GZQIY8+8EGr+g="

# Backend config
PORT=4000
LOG_MODE=dev

# frontend Cors
FRONTEND_URL="http://localhost:3000"